@font-face {
   font-family: 'ArbFONTS-ArbFONTS-Janna-LT-Regular';
   font-display: swap;
   src: url('file:///Users/abdo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-07-05_195404/fonts/ArbFONTS-ArbFONTS-Janna-LT-Regular/font.ttf');
}
